@charset "UTF-8";

@media screen and (max-width: 650px) {

    .container {
        flex-direction: column;
        padding: 2em 0px;
    }

    .div1 {
        height: 200px;
        width: 300px;
    }

    picture img {
        height: 100%;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }

    .div2 {
        border-radius: 0px 0px 20px 20px;
        height: 350px;
        padding: 0 13px;
    }

    .div2 p {
        line-height: 1.8em;
        font-size: 13px;
    }

    .div2 h1 {
        margin-top: -20px;
        font-size: 1.8em;
    }

    .price {
        text-align: unset;
        padding-left: 10px;
    }

}